html {
  overflow: hidden;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

div#headings {
  position: absolute;
  pointer-events: none;
  text-align: center;
  width: 100%;
}

h1 {
  margin-bottom: 0.5rem;
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to right, #553c9a, #da5c14);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0px 0px 50px #553c9a;
}

h2 {
  color: white;
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  margin: 0;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

#app {
  width: full;
  margin: 0;
  text-align: center;
}