:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  position: absolute;
  pointer-events: none;
  text-align: center;
  color: black;
  width: 100%;
}

#app {
  width: full;
  margin: 0;
  text-align: center;
}

canvas {
  border: 1px solid black;
}